.aoe {
    padding: 2vh 10vh 2vh 10vh;
    text-align: center;
    background-color:var(--background-main-color);
  }

  .aoe h1 {
    font-family: var(--font-subheading);
    color: antiquewhite;
    font-weight: bold;
    font-size: 8vh;
    flex-shrink: 0;
    padding-right: 10px; /* Space between text and line */
  }






