:root {
  --background-main-color: #1a1818;
  --main-font-color: rgb(212, 144, 60);
  --submain-font-color: rgb(197, 196, 196);  /* Define the default color */
}

a {
  text-decoration: none;
  color: rgb(197, 196, 196);
}

.nav-links a:hover {
  color: #61dafb; /* optional: color on hover */
  text-decoration: underline; /* optional: underline on hover */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
 background-color:var(--background-main-color)
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vh 2vh 10vh;
  background-color: --background-main-color;
  color: var(--submain-font-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--submain-font-color);
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: var(--submain-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons svg {
  width: 24px;
  height: 24px;
}

.social-icons a:hover {
  color: #61dafb;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-main-color);
}

.intro-text {
  flex: 1;
  font-size: 1.2rem;
  padding-right: 20px;
  text-align: left;
  padding-left: 10vh;
}

.intro h1 {
  font-size: 10vh;
  color: var(--main-font-color)
}

.intro h3, .intro h4{
  color: var(--submain-font-color);
}

.intro-image {
  flex: 1;
  display: flex;
  justify-content: right;
  padding-right: 10vh;
}

.intro-image img {
  width: 90%;
  max-width: 400px;
  height: auto;
  border-radius: 25px;
  box-shadow: 4 0 5 (0,0,0,3)
}

/*about*/

.about, .aoe, .work, .contact {
  padding: 2vh 10vh 2vh 10vh;
  background-color:var(--background-main-color);
}

.about span, .aoe span, .work span, .contact span {
  color: var(--main-font-color);
}

.divider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.divider span {
  font-size: 5vh;
  flex-shrink: 0;
  padding-right: 10px; /* Space between text and line */
}

.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px; /* Line thickness */
  background-color: var(--main-font-color);
}

.about p, .contact p {
  padding-left: 10vh;
  text-align: left;
  color: var(--submain-font-color);
}

.about-content {
  display: flex;
  flex-direction: row;
  font-size: 4vh;
  color: var(--submain-font-color);
}

.attributes{
  width: 50%;
  text-align: right;
  padding-right: 1vh;

}
.attributes-cor{
  width: 50%;
  text-align: left;
  padding-left: 1vh;
}

/*aoe*/

.aoe-cor0, .aoe-cor1, .aoe-cor2{
  width: 50%;
  text-align: center;
  padding-right: 1vh;

}

/*aoe*/

.aoe-content {
  display: flex;
  flex-direction: row;
  font-size: 4vh;
  color: var(--submain-font-color);
}

.aoe-cor0, .aoe-cor1, .aoe-cor2{
  width: 50%;
  text-align: center;
  padding-right: 1vh;
}

/*work*/

.work-content {
  display: flex;
  flex-direction: column;
}

.work-sample1, .work-sample2 {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.work-sample1 .img, .work-sample2 .img {
  text-align: left;
}

.work-sample2 .img {
  text-align: right;
}

.img-desc {
  width: 100%;
  padding: 0vh 5vh 0vh 5vh;
  font-size: 3vh;
  color: var(--submain-font-color);
  text-align: center;
  justify-content: center;
}

.img img {
  width: 90vh;
  border-radius: 20px;
}

.contact-apps {
  display: flex;
  flex-direction: column;
justify-content: center;

}

.r1, .r2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.r1 img, .r2 img{
  width: 10vh;
  margin: 1vh 3vh 1vh 3vh;

}
